<div class="animacionDiv">
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 m6">
                    <img class="responsive-img" width="650" src="/assets/images/videoEdit.jpeg"
                        style="border-radius: 8px;">
                </div>
                <div class="col s12 m6">
                    <h4 class="boldL">
                        Animación y Postproducción
                    </h4>
                    <p>
                        Estudio comprometido a brindarte servicios de diseño, ilustración, animación, producción y
                        post- producción en su totalidad con la más alta calidad. <br>

                        ¡Solo platícanos lo que imaginaste y nosotros lo hacemos una realidad!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="#e0e0e0 grey lighten-2">
        <div class="container">
            <div class="section">
                <div class="row">
                    <div class="col s12 m12">
                        <h3 class="titleEspecialistas centered">Oferta Profesional</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-image">
                                <img src="/assets/images/animacion2d.jpeg">
                                <span class="card-title">Animación 2D</span>
                                <a class="btn-floating halfway-fab waves-effect waves-light red"
                                    onclick="location.href='/contacto';"><i class="material-icons">add</i></a>
                            </div>
                            <div class="card-content">
                                <p>Para nosotros es muy importante como se ve y cómo se cuenta tu idea, tu historia.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-image">
                                <img src="/assets/images/animacion3d.jpeg">
                                <span class="card-title">Animación 3D</span>
                                <a class="btn-floating halfway-fab waves-effect waves-light red"
                                    onclick="location.href='/contacto';"><i class="material-icons">add</i></a>
                            </div>
                            <div class="card-content">
                                <p>Contamos con la mejor tecnología y con el personal capacitado para poder plasmar lo
                                    que necesites.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-image">
                                <img src="/assets/images/vfx.jpeg">
                                <span class="card-title">VFX (Efectos Visuales Generados Digitalmente)</span>
                                <a class="btn-floating halfway-fab waves-effect waves-light red"
                                    onclick="location.href='/contacto';"><i class="material-icons">add</i></a>
                            </div>
                            <div class="card-content">
                                <p>Talento y experiencia es nuestra contribución para realizar tus ideas con un estilo,
                                    estética y técnica adecuada para tu marca.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-image">
                                <img src="/assets/images/motion.jpeg">
                                <span class="card-title">Motion Graphics</span>
                                <a class="btn-floating halfway-fab waves-effect waves-light red"
                                    onclick="location.href='/contacto';"><i class="material-icons">add</i></a>
                            </div>
                            <div class="card-content">
                                <p>El movimiento es lo que genera ese click con tus clientes y genera la interacción.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <br>
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 m6">
                    <img class="responsive-img" width="650" src="/assets/images/estudioGraba.jpeg"
                        style="border-radius: 8px;">
                </div>
                <div class="col s12 m6">
                    <h4 class="boldL">
                        Estudio para grabación y doblaje
                    </h4>
                    <p>
                        Control room amplio, aislamiento acústico y absorción de frecuencias medias y agudas mediante
                        puertas, bastidores y paneles de lana mineral/fibra de vidrio, control de reflexiones mediante
                        difusor cuadrático, control de ondas estacionarias gracias a trampas de grabes. <br>

                        Cabina amplia con espacio suficiente para grabar.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <section>
            <div class="row centered">
                <h4>Características</h4>
            </div>
        </section>
        <div class="section">
            <div class="row">
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image">
                            <img src="/assets/images/monitores.jpeg">
                            <span class="card-title">Monitores</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"
                                onclick="location.href='/contacto';"><i class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <p>Contamos con monitores para doblaje/lip syncing. <br>

                                Monitoreo stereo y Monitoreo 5.1, 7" con twitters de liston y subwoofer de 12" con
                                crossover
                                calibrado para el sistema. 5 micrófonos de condensador, 1 lavalier y 1 boom.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image">
                            <img src="/assets/images/microfonos.jpeg">
                            <span class="card-title">Micrófonos</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"
                                onclick="location.href='/contacto';"><i class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <p>También contamos con una alta gama de preamplificadores para micrófonos, tanto de vulvos
                                como de estado sólido con distintas tesituras, rango dinámico y emulación de preamps
                                vintage.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image">
                            <img src="/assets/images/oficinaOnline.jpeg">
                            <span class="card-title">Oficina Online</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"
                                onclick="location.href='/contacto';"><i class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <p>Apple iMac 5k retina, Interface black magic modelo intensity shuttle for thunderbolt. <br>

                                Monitor Sony 49" calibrado con normas de transmisión Brodcast.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                </div>

            </div>
        </div>
    </div>

</div>