<div class="contactoDiv">
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container inicioCont">
                <br><br>
                <h1 class="header center teal-text text-lighten-2">IDM Serag</h1>
                <div class="row center">
                    <h5 class="header col s12 light">Impresión en gran formato, Vinil Brillante, Front y Backlite.
                    </h5>
                </div>
                <div class="row center">
                    <a href="https://api.whatsapp.com/send?phone=+525569601278" target="_blank" id="download-button"
                        class="btn-large waves-effect waves-light teal lighten-1">Contáctanos por whatsapp</a>
                </div>
                <br><br>

            </div>
        </div>
        <div class="parallax"><img src="/assets/images/background1.jpg" alt="Unsplashed background img 1"></div>
    </div>
    <div class="formulario">
        <div class="container">
            <div class="section">
                <div class="row">
                    <div class="col s12 m12">
                        <h3 class="titleEspecialistas centered">TU OPINIÓN CUENTA</h3>
                        <p class="centered">
                            Conocer la opinión de nuestros clientes es muy importante. Te extiendo la invitación a
                            llenar el
                            siguiente formulario para solicitar información sobre los servicios que ofrecemos. A la
                            brevedad
                            posible, uno de nuestros consultores te atenderá.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <form class="col s12" action="/ajax/email" method="POST" onsubmit="return submitEmailForm(this);">
                        <div class="row">
                            <div class="input-field col s6">
                                <input name="name" placeholder="Nombre" id="first_name" type="text"
                                    class="validate formInput" required="" aria-required="true">
                                <label for="first_name">Nombre completo</label>
                            </div>
                            <div class="input-field col s6">
                                <input name="email" id="email" type="text" class="validate formInput" required=""
                                    aria-required="true">
                                <label for="email">Correo electrónico</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="message" id="input_text" type="text" data-length="10" required=""
                                    aria-required="true" class="formInput">
                                <label for="input_text">Mensaje</label>
                            </div>
                        </div>
                        <div class="row">
                            <label>
                                <input type="checkbox" required="" aria-required="true" />
                                <span>Acepto <a href="/privacidad">aviso de privacidad</a></span>
                            </label>
                        </div>
                        <button class="btn waves-effect waves-light">Enviar
                            <i class="material-icons right">send</i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>