<div class="inicioDiv">
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container inicioCont">
                <br><br>
                <h1 class="header center teal-text text-lighten-2">IDM Serag</h1>
                <div class="row center">
                    <h5 class="header col s12 light">Impresión en gran formato, Vinil Brillante, Front y Backlite.
                    </h5>
                </div>
                <div class="row center">
                    <a href="https://api.whatsapp.com/send?phone=+525569601278" target="_blank" id="download-button"
                        class="btn-large waves-effect waves-light teal lighten-1">Contáctanos por whatsapp</a>
                </div>
                <br><br>

            </div>
        </div>
        <div class="parallax"><img src="/assets/images/background1.jpg" alt="Unsplashed background img 1"></div>
    </div>


    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 m12">
                    <h3 class="titleEspecialistas centered">Materiales</h3>
                </div>
            </div>
        </div>
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4" onclick="location.href='/contacto';">
                    <div class="icon-block centered">
                        <a href="/contacto">
                            <h2 class="center brown-text"><img class="responsive-img circle"
                                    src="/assets/images/sears50.jpeg"></h2>
                        </a>
                        {{!-- <h5 class="center">Nos adaptamos a tus necesidades, ofreciendo resultados profesionales
                            para
                            todo tipo de impresión.</h5> --}}
                        <h4>Vinil Adhesivo</h4>
                        <p>
                            Ya sea brillante o mate, es fácil de colocar en superficies planas o curvas. <br>

                            Por su aplicación en diferentes materiales (metal, madera, vidrio, acrílico, estireno,
                            coroplast, trovicel, etc.) es ideal para rotulación de flotillas o para material pop. <br>
                            <br>
                            <a class="waves-effect waves-light btn-large"
                                onclick="location.href='/contacto';">Contáctanos</a>
                        </p>

                    </div>
                </div>

                <div class="col s12 m4" onclick="location.href='/contacto';">
                    <div class="icon-block centered">
                        <a href="/contacto">
                            <h2 class="center brown-text"><img class="responsive-img circle"
                                    src="/assets/images/smile.jpeg"></h2>
                        </a>
                        {{!-- <h5 class="center">Estamos comprometidos al 100% con nuestros clientes.</h5> --}}
                        <h4>Vinil Microperforado</h4>
                        <p>
                            Es un vinil blanco brillante, pero con pequeñas perforaciones que permiten el paso de la
                            luz. Se utiliza para publicidad en ventanas. <br>

                            Se aplica por la parte exterior, de donde no se puede ver a través de la imagen al
                            interior, pero del lado del respaldo da la apariencia de ser un cristal o acrílico
                            polarizado. <br> <br>
                            <a class="waves-effect waves-light btn-large"
                                onclick="location.href='/contacto';">Contáctanos</a>

                    </div>
                </div>

                <div class="col s12 m4" onclick="location.href='/contacto';">
                    <div class="icon-block centered">
                        <a href="/contacto">
                            <h2 class="center brown-text"><img class="responsive-img circle"
                                    src="/assets/images/x25.jpeg">
                        </a>
                        </h2>
                        {{!-- <h5 class="center">Nuestro equipo de trabajo se va desarrollando, capacitando y
                            actualizando
                            continuamente.</h5> --}}
                        <h4>Lona Mesh</h4>
                        <p>
                            Es un material tipo red, que permite la filtración del aire, por lo que evita la
                            posibilidad de rasgado <br>

                            Por sus características es un material mucho mas ligero, por lo que es muy útil para la
                            impresión de gráficos muy altos o muy grandes, hasta para gráficos pequeños. Para cubrir
                            fachadas de edificios, locales comerciales, hasta banners y mantas promocionales. impresión
                            de calidad. <br> <br>
                            <a class="waves-effect waves-light btn-large"
                                onclick="location.href='/contacto';">Contáctanos</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light headerBanner1">Nuestra capacidad abarca desde impresiones en gran
                        formato hasta impresiones en rígidos. Siempre cumpliendo con profesionalismo y calidad a muy
                        buen precio.
                    </h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="/assets/images/pinkBg.jpg" alt="Unsplashed background img 2"></div>
    </div>

    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 m12">
                    <h1 class="titleEspecialistas">Somos especialistas...</h1>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="row">
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image">
                            <img src="/assets/images/espectaculares.jpeg">
                            <span class="card-title">Espectaculares</span>
                        </div>
                        <div class="card-content">
                            <p>Publicidad tradicional pero efectiva que se imprime en la mente de tu público, cuidamos
                                al 100% la calidad de tu imagen para que no se pierda ningún detalle.</p>
                        </div>
                        <div class="card-action">
                            <a href="/contacto">Quiero saber más</a>
                        </div>
                    </div>
                </div>

                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image">
                            <img src="/assets/images/vinilmicro.jpeg">
                            <span class="card-title">Vinil Microperforado</span>
                        </div>
                        <div class="card-content">
                            <p>Estratégicamente microperforada para favorecer el paso de la luz sin que tus impresiones
                                o publicidad sufran cambios o deformaciones, también ayuda a no oscurecer el interior
                                del lugar.</p>
                        </div>
                        <div class="card-action">
                            <a href="/contacto">Quiero saber más</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image">
                            <img src="/assets/images/bajoPuentes.jpeg">
                            <span class="card-title">Bajo Puentes</span>
                        </div>
                        <div class="card-content">
                            <p>Impactamos a miles de automovilistas con la más alta calidad.</p>
                        </div>
                        <div class="card-action">
                            <a href="/contacto">Quiero saber más</a>
                        </div>
                    </div>
                </div>

                <div class="col s12 m6">

                </div>
            </div>

        </div>
    </div>
    <div class="divServicios #eeeeee grey lighten-3">
        <div class="container">
            <div class="section">
                <div class="row">
                    <div class="col s12 m12">
                        <h1 class="titleServicios">Nuestros servicios:</h1>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="row">
                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-image">
                                <img src="/assets/images/granFormato.jpg">
                                <span class="card-title titleServicios1">Gran Formato</span>
                                <a class="btn-floating halfway-fab waves-effect waves-light red"
                                    onclick="location.href='/contacto';"><i class="material-icons">add</i></a>
                            </div>
                            <div class="card-content">
                                <p>
                                <ul class="collection with-header">
                                    <li class="collection-item">Para la impresión de gran formato tenemos máquinas que
                                        imprimen desde 720dpi´s a 1020 dpi´s.</li>
                                    <li class="collection-item">Por sus características esta impresión es económica y
                                        de rápida entrega.</li>
                                    <li class="collection-item">Este tipo de impresión es ideal para rotulación de
                                        camiones, espectaculares, bajo puentes, lonas, etc. </li>
                                </ul>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-image">
                                <img src="/assets/images/altaRes.jpg">
                                <span class="card-title titleServicios1">Alta Resolución</span>
                                <a class="btn-floating halfway-fab waves-effect waves-light red"
                                    onclick="location.href='/contacto';"><i class="material-icons">add</i></a>
                            </div>
                            <div class="card-content">
                                <p>
                                <ul class="collection with-header">
                                    <li class="collection-item">Para alta resolución contamos con equipo de 1440dpi´s
                                        de calidad fotográfica. Estas características nos permiten imprimir con gran
                                        definición y detalle, por lo cual cuenta con una excelente presentación. </li>
                                    <li class="collection-item">Es ideal para la impresión de fotografías, posters o
                                        impresión de punto de venta. </li>
                                </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-image">
                                <img src="/assets/images/impresionUv.jpg">
                                <span class="card-title titleServicios1">Impresión UV</span>
                                <a class="btn-floating halfway-fab waves-effect waves-light red"
                                    onclick="location.href='/contacto';"><i class="material-icons">add</i></a>
                            </div>
                            <div class="card-content">
                                <p>
                                <ul class="collection with-header">
                                    <li class="collection-item">La impresión UV es mas duradera que la impresión base
                                        solvente, por lo cual es ideal para gráficos que estarán expuestos a la
                                        interperie por largos periodos de tiempo.</li>
                                </ul>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-image">
                                <img src="/assets/images/camaPlana.jpg">
                                <span class="card-title titleServicios1">Impresión en Cama Plana</span>
                                <a class="btn-floating halfway-fab waves-effect waves-light red"
                                    onclick="location.href='/contacto';"><i class="material-icons">add</i></a>
                            </div>
                            <div class="card-content">
                                <p>
                                <ul class="collection with-header">
                                    <li class="collection-item">La impresión de cama plana permite crear innovadoras
                                        piezas de gran calidad, reducir tiempos y en combinación con un sistema rauter
                                        poder cortar piezas complejas; realizamos trabajos espectaculares.</li>
                                </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-image">
                                <img src="/assets/images/mesaCorte.jpg">
                                <span class="card-title titleServicios1">Mesa de Corte</span>
                                <a class="btn-floating halfway-fab waves-effect waves-light red"
                                    onclick="location.href='/contacto';"><i class="material-icons">add</i></a>
                            </div>
                            <div class="card-content">
                                <p>
                                <ul class="collection with-header">
                                    <li class="collection-item">La finalidad de la mesa de corte es crear suajes y
                                        suajados en materiales como coroplast, foambord, trovicel, cartón, entre otros.
                                    </li>
                                </ul>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-image">
                                <img src="/assets/images/vinilCortadora.jpg">
                                <span class="card-title titleServicios1">Cortadora de Vinil</span>
                                <a class="btn-floating halfway-fab waves-effect waves-light red"
                                    onclick="location.href='/contacto';"><i class="material-icons">add</i></a>
                            </div>
                            <div class="card-content">
                                <p>
                                <ul class="collection with-header">
                                    <li class="collection-item">La cortadora de vinil como su nombre lo dice, corta el
                                        vinil de una forma muy precisa.
                                        Se pueden realizar calcomanías, etiquetas, perfilados, logotipos, entre otras
                                        cosas. </li>
                                </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="">
        <div class="container">
            <div class="section">
                <div class="row">
                    <div class="col s12 m12">
                        <h1 class="titleServicios">Impresión en gran formato:</h1>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="row">
                    <div class="col s12 m12">
                        <div class="card">
                            <div class="card-image">
                                <img src="/assets/images/granforEspresso.jpeg" class="divServicios2">
                                <span class="card-title titleServicios1">Gran Formato</span>
                                <a class="btn-floating halfway-fab waves-effect waves-light red"
                                    onclick="location.href='/contacto';"><i class="material-icons">add</i></a>
                            </div>
                            <div class="card-content">
                                <p>
                                <ul class="collection with-header">
                                    <li class="collection-item">Lona Front</li>
                                    <li class="collection-item">Ya sea brillante o mate, de 10oz, 13oz o 1000x100, es
                                        muy útil tanto en interiores como en exteriores, para la impresión de
                                        carteleras, banners y todo tipo de gráficos.</li>
                                </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="teal">
        <div class="container">
            <div class="section">
                <div class="row">
                    <div class="col s12 m12">
                        <h1 class="titleEspecialistas centered white-text">Haz tu pedido</h1>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="row">
                    <div class="col s12 m6">
                        <div class="carousel carrru">
                            <a class="carousel-item" href="#one!"><img src="/assets/images/sieteLunasCarro.jpg"></a>
                            <a class="carousel-item" href="#two!"><img src="/assets/images/adAmarillo.jpg"></a>
                            <a class="carousel-item" href="#three!"><img src="/assets/images/adRosa.jpg"></a>
                            <a class="carousel-item" href="#four!"><img src="/assets/images/aeroAd.jpg"></a>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <h4 class="white-text">No pierdas la oportunidad de dar visibilidad a tu negocio</h4>
                        <a class="waves-effect waves-light btn-large"
                            onclick="location.href='/contacto';">Contáctanos</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="infoDivInicio">
        <div class="container">
            <div class="section">
                <div class="row">
                    <div class="col s12 m12">
                        <h1 class="titleServicios">Pedidos Especiales</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12">
                    <div class="card #eeeeee grey lighten-3">
                        <div class="card-content">
                            <span class="card-title">Información adicional</span>
                            <p>Algunos clientes también nos realizan pedidos especiales porque saben que jamás nos
                                limitamos. <br>
                                Móviles publicitarios, islas en centros comerciales, vinil adherible para autos,
                                bicicletas en ciudad y mucho más. </p>
                        </div>
                        <div class="card-action">
                            <a href="/contacto" class="orange-text">Más información</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="page-footer teal">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">IDM SERAG</h5>
                    <p class="grey-text text-lighten-4">Impresión en gran formato, Vinil Brillante, Front y Backlite.
                    </p>


                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Mapa de sitio</h5>
                    <ul>
                        <li><a class="white-text" href="/inicio">Inicio</a></li>
                        <li><a class="white-text" href="/nosotros">Nosotros</a></li>
                        <li><a class="white-text" href="/animacion">Animación</a></li>
                        <li><a class="white-text" href="/contacto">Contacto</a></li>
                        <li><a class="white-text" href="/contacto">Aviso de privacidad</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container centered">
                Copyright © <a class="brown-text text-lighten-3" href="/">2021 IDM- Todos los derechos reservados.</a>
            </div>
        </div>
    </footer>


</div>