<div class="nosotrosDivTab">
    <div class="pinturasBgDiv">

    </div>
    <div class="container centered">
        <div class="section">
            <div class="row">
                <div class="col s12 m12">
                    <h3 class="titleEspecialistas centered">Nosotros</h3>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="row">
                <div class="col s12 m4 misionImg">
                    <h4>
                        Misión
                    </h4>
                    <p>
                        Trabajar cada día con el objetivo de garantizarle al cliente productos y servicios gráficos
                        que satisfagan la imagen de su marca, respondiendo con entusiasmo a sus necesidades de tiempos
                        con la mejor relación en calidad/precio y actuando siempre en fortalecer la relación.
                    </p>
                </div>
                <div class="col s12 m4 visionImg">
                    <h4>
                        Visión
                    </h4>
                    <p>
                        Ser una empresa conformada por un equipo humano que provee productos y servicios de impresión
                        digital en continuo crecimiento que se distinga por proporcionar calidad, efectividad y
                        excelencia a sus clientes, rentabilidad sostenida a sus socios, oportunidades de desarrollo
                        profesional y personal a sus empleados y una contribución positiva a la sociedad.
                    </p>
                </div>
                <div class="col s12 m4 valoresImg">
                    <h4>
                        Valores
                    </h4>
                    <p>
                        En IDM SERAG tenemos el compromiso de mejora continua en nuestro trabajo, construyendo
                        relaciones fuertes con nuestros clientes al depositar su confianza. Atendemos a dos palabras
                        “Servicio y Calidad”.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 m12">
                    <h3 class="titleEspecialistas centered">Nuestros Objetivos</h3>
                </div>
            </div>
            <div class="row">
                <div class="slider">
                    <ul class="slides">
                        <li>
                            <img src="/assets/images/coloresMaquina.jpg"> <!-- random image -->
                            <div class="caption center-align">
                                <h3>Búsqueda de la Calidad Total</h3>
                                <h5 class="light grey-text text-lighten-3">como espíritu que envuelve todo nuestro trabajo.</h5>
                            </div>
                        </li>
                        <li>
                            <img src="/assets/images/verdeMaquina.jpg"> <!-- random image -->
                            <div class="caption left-align">
                                <h3>Consideración del Cliente</h3>
                                <h5 class="light grey-text text-lighten-3">como principio y fin de todo nuestro esfuerzo.</h5>
                            </div>
                        </li>
                        <li>
                            <img src="/assets/images/negroMaquina.jpg"> <!-- random image -->
                            <div class="caption right-align">
                                <h3>Información clara y veraz</h3>
                                <h5 class="light grey-text text-lighten-3">a la hora de comunicarnos con el cliente.</h5>
                            </div>
                        </li>
                        <li>
                            <img src="/assets/images/impresoMaquina.jpg"> <!-- random image -->
                            <div class="caption center-align">
                                <h3>Compromiso con el Desarrollo</h3>
                                <h5 class="light grey-text text-lighten-3">de nuestros equipos de trabajo.</h5>
                            </div>
                        </li>
                         <li>
                            <img src="/assets/images/evolutionMaquina.jpg"> <!-- random image -->
                            <div class="caption center-align">
                                <h3>Respeto</h3>
                                <h5 class="light grey-text text-lighten-3">a nuestros clientes, proveedores y equipos de trabajo.</h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>