<div class="nosotrosDivTab">
    <div class="pinturasBgDiv">

    </div> <br>
    <div class="container ">
        <div class="section">
            <div class="row">
                <div class="col s12 m12">
                    <blockquote>
                        <h2 class="titleServicios">IDM ES TU SOCIO CONFIABLE</h2>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="row">
                <div class="col ">

                    <h4 class="textTitleNosotros">
                        Somos especialistas en impresiones digitales y gran formato!
                        En IDM, llevamos la excelencia a un nuevo nivel con nuestra dedicación profesional, experiencia
                        sólida y un compromiso
                        inquebrantable con la calidad. Desde nuestro inicio, hemos superado constantemente las
                        expectativas de nuestros clientes, ofreciendo soluciones innovadoras y creativas que destacan en
                        el mundo de las impresiones.
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="container">
        <div class="row">
            <div class="col l3 m6 s12">


                <div class="card">
                    <div class="card-image">
                        <img src="/assets/images/gerente1.jpg">
                        <span class="card-title"></span>
                    </div>
                    <div class="card-content">
                        <h6>Victoria Elizalde <br> Gerente Comercial</h6>
                    </div>

                </div>


            </div>
            <div class="col l3 m6 s12">
                <div class="card">
                    <div class="card-image">
                        <img src="/assets/images/gerente2.jpg">
                        <span class="card-title"></span>
                    </div>
                    <div class="card-content">
                        <h6>Edgar Gurubel <br> Gerente General</h6>
                    </div>

                </div>
            </div>
            <div class="col l3 m6 s12">
                <div class="card">
                    <div class="card-image">
                        <img src="/assets/images/gerente3.jpg">
                        <span class="card-title"></span>
                    </div>
                    <div class="card-content">
                        <h6>Ricardo Sandoval <br> Transportista</h6>
                    </div>

                </div>
            </div>
            <div class="col l3 m6 s12">
                <div class="card">
                    <div class="card-image">
                        <img src="/assets/images/gerente4.jpg">
                    </div>
                    <div class="card-content">
                        <h6>David Rojas <br> Coordinador de Producción</h6>
                    </div>

                </div>
            </div>



        </div>
        <div class="row">
            <div class="col l3 m6 s12">

                <div class="card">
                    <div class="card-image">
                        <img src="/assets/images/gerente5.jpg">
                    </div>
                    <div class="card-content">
                        <h6>Abad Calderon <br> Técnico</h6>
                    </div>

                </div>
            </div>
            <div class="col l3 m6 s12">
                <div class="card">
                    <div class="card-image">
                        <img src="/assets/images/gerente6.jpg">
                    </div>
                    <div class="card-content">
                        <h6>Eduardo Ramos <br> Técnico</h6>
                    </div>

                </div>
            </div>
            <div class="col l3 m6 s12">
                <div class="card">
                    <div class="card-image">
                        <img src="/assets/images/gerente7.jpg">
                    </div>
                    <div class="card-content">
                        <h6>Edgar García <br> Técnico</h6>
                    </div>

                </div>
            </div>
            <div class="col l3 m6 s12">
                <div class="card">
                    <div class="card-image">
                        <img src="/assets/images/gerente8.jpg">
                    </div>
                    <div class="card-content">
                        <h6>Fabrizzio Martínez <br> Técnico</h6>
                    </div>

                </div>
            </div>



        </div>
    </div>
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 m12">
                    <blockquote>
                        <h2 class="titleServicios">SUPERAMOS EXPECTATIVAS</h2>
                    </blockquote>
                </div>
            </div>
            <div class="row">
                <h4 class="textTitleNosotros">En cada proyecto, nos esforzamos por no solo cumplir, sino superar
                    las expectativas, convirtiendo cada visión en una realidad impresa. Únete a nosotros en un viaje
                    donde la profesionalidad, la experiencia y los resultados excepcionales se unen para elevar tus
                    proyectos al siguiente nivel. ¡En IDM, cada impresión cuenta!</h4>
            </div>
        </div>
    </div>
    <br><br>

</div>