/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}
.fontGlobal{
  font-family: 'Lato', sans-serif !important;

}
.centered{
  text-align: center;
}
.boldL{
  font-weight: bold;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}
.black{
  background-color: black !important;
}
.navLinkNew{
  color: white;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
}
.imageLogo{
  height: 10rem;
}
/* .navDiv{
  height: 10rem;
} */
.titleServicios{
  text-align: center;
}
.titleServicios1{
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 7px !important;
}
.divServicios2{
  height: 30rem;
}
.carrru{
  margin-top: -22% !important;
}
.pinturasBgDiv{
  height: 18rem;
  background-image: url("/assets/images/pinturas2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  transition: 0s linear;
  /* background-position: 25% 50%; */
}
.bannerPrivacidad{
  height: 15rem;
  background-image: url("/assets/images/coloresMaquina.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  transition: 0s linear;
  background-position: 25% 85%;
}
.overlayPrivacidad{
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.418);
}
.avisoPrivacidadTitle{
  margin-top: 10%;
  font-weight: bolder;
}
.avisoDiv{
  padding-top: 3%;
  padding-bottom: 3%;
}
.animacionDiv{
  margin-top: 3%;
}
.idmBanner{
  height: 46rem;
  background-image: url("/assets/images/bannerIdm.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-bottom: -2%; */
}
.liverpoolDiv{
  height: 40rem;
  background-image: url("/assets/images/liverpool.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.negroFormato{
  background-color: gray;
}
.greys{
  background-color: grey;
}
@media only screen and (max-width : 992px) {
  .liverpoolDiv{
    height: 15rem;
    
  }
  .idmBanner{
    height: 24rem;
  }
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  .headerBanner1{
    margin-top: -15%;
  }
  .titleEspecialistas, .titleServicios{
    font-size: 3rem;
  }
  .divServicios2{
    height: 10rem;
  }
  .carrru{
    margin-top: -30% !important;
    margin-bottom: -20% !important;
  }
  .avisoPrivacidadTitle{
    font-size: 1.5rem !important;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
